# Generated code
node_modules/
out/

# Workspace settings
.vscode/*
!.vscode/*.template.json

# Secret files
**/secret
*secret*

# Log files
*.log

package-lock.json

openscad-language-support-*.vsix

# MacOS
.DS_Store
